.modal-form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  &:nth-child(4) {
    margin-bottom: 20px;
  }
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-form__input {
  @extend %input;
  height: 40px;
  padding: 12px 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: var(--border-input-modal);
  transition: border var(--time-transl) var(--cubic-bezier);

  &:hover,
  &:focus-within {
    border: var(--border-input-focus);
  }

  &:hover + .modal-form__icon,
  &:focus-within + .modal-form__icon {
    fill: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(0);
  width: 18px;
  height: 18px;
  fill: var(--secondary-text-color);
  transition: fill var(--time-transl) var(--cubic-bezier);
}


.modal-form__input--textarea {
  padding: 11px 12px;
  border-radius: 4px;
  border: var(--border-input-modal);
  resize: none;
  height: 120px;

  &::placeholder {
    color: var(--placeholder-text);
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  color: var(--secondary-text-color);
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

  &:checked ~ .checkbox--checked {
    opacity: 1;
  }
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox--no-checked {
  display: block;
  width: 16px;
  height: 15px;
  position: absolute;
  left: 0;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.checkbox--checked {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity var(--time-transl) var(--cubic-bezier);
}

.checkbox__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  fill: var(--primary-color);
  border-radius: 2px;
}

.main-button--form {
  display: block;
  margin: 0 auto;
}
